services:
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube-dev
    restart: always
    ports:
      - "9000:9000"
    networks:
      - sonarnet
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'

networks:
  sonarnet:


volumes:
  sonar_data:
  sonar_extensions:
  sonar_logs:
